.welcome {
  font-size: 32px;
  position: absolute;
  left: 50px;
  top: 150px;
}

.dividerMessage {
  font-size: 32px;
  top: 50%;
}

.formsContainer {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 35%;
}

.createGameFormContainer {
  margin: 30px;
}
