@keyframes bounce {
  from {
      transform: translate3d(0, 0, 0);
  }
  to {
      transform: translate3d(0, 10px, 0);
  }
}

@-webkit-keyframes bounce {
  from {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
  }
  to {
      -webkit-transform: translate3d(0, 10px, 0);
      transform: translate3d(0, 10px, 0);
  }
}

.selectable {
  -webkit-animation-name: bounce;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: infinite;
}

.selectable:hover {
  -webkit-animation-name: none;
  cursor: pointer;
}

.hovered {
  cursor: pointer
}
