.handCard {
  width: 150px;
  height: 200px;
  margin: auto;
  display: inline-block;
}

.deckContainer {
  position: absolute;
  top: 35%;
  left: 46.4%;
  height: 100px;
  width: 100px;
}

.selectableDeckContainer {
  position: absolute;
  bottom: 10%;
  right: 5%;
  height: 100px;
  width: 400px;
}

.scrollContainer {
  position: absolute;
  top: 120px;
  right: 50px;
  height: 350px;
  width: 350px;
}

.instructionContainer {
  position: absolute;
  top: 500px;
  right: 50px;
  height: 50px;
  width: 300px;
}

.tokenContainer {
  position: absolute;
  top: 5%;
  left: 47.3%;
  height: 100px;
  width: 100px;
}

.playersContainer {
  position: absolute;
  top: 6%;
  left: 20px;
}

.playerContainer {
  padding: 5px;
}

.playersTitle {
  padding-left: 55px;
  font-size: 20px;
}

.roundIconContainer {
  position: absolute;
  top: 3%;
  left: 47.3%;
  height: 100px;
  width: 100px;
}

.exitButtonContainer {
  position: absolute;
  top: 3%;
  right: 3%;
  height: 50px;
  width: 50px;
}

.handContainer {
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 155px;
  text-align: center;
}
