.backgroundImage {
  min-height: 100%;
  max-width: 100%;
  min-width: 100%;
  object-fit: cover;
}

.backgroundImageContainer {
  height: 110vh;
  overflow: hidden;
}

.titleContainer {
  position: absolute;
  top: 5%;
  width: 100%;
  text-align: center;
}

.title {
  color: white;
  font-size: 40px;
}

.handCard {
  width: 150px;
  height: 200px;
  margin: auto;
  display: inline-block;
}

.deckContainer {
  position: absolute;
  top: 35%;
  left: 46.4%;
  height: 100px;
  width: 100px;
}

.selectableDeckContainer {
  position: absolute;
  bottom: 10%;
  right: 0px;
  height: 100px;
  width: 355px;
}

.scrollContainer {
  position: absolute;
  top: 12%;
  right: 20px;
  height: 350px;
  width: 350px;
}

.instructionContainer {
  position: absolute;
  top: 450px;
  right: 0px;
  height: 50px;
  width: 400px;
}

.tokenContainer {
  position: absolute;
  top: 5%;
  left: 47.3%;
  height: 100px;
  width: 100px;
}

.playersContainer {
  position: absolute;
  top: 15%;
  left: 20px;
}

.playersTitle {
  padding-left: 55px;
  font-size: 30px;
  color: white;
}

.roundIconContainer {
  position: absolute;
  top: 3%;
  left: 47.3%;
  height: 100px;
  width: 100px;
}

.exitButtonContainer {
  position: absolute;
  top: 2%;
  right: 2%;
  height: 50px;
  width: 50px;
}

.handContainer {
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 155px;
  text-align: center;
}

.lockedImageContainer {
  position: absolute;
  height: 50px;
  text-align: center;
  width: 100%;
}

.lockedImage {
  max-height: 100%;
  max-width: 100%;
}
