.container {
  height: 70px;
  width: 100%;
  border-bottom: 1px solid grey;
}

.logoContainer {
  margin-left: 15px;
  margin-top: 15px;
  height: 50px;
  width: auto;
}

.img {
  max-height: 50px;
}

.img:hover {
  opacity: 0.8;
  transition: opacity .15s ease-out;
}

.headerLink {
  font-size: 24px;
  display: inline-block;
  color: black;
  cursor: pointer;
}

.leaderboardContainer {
  position: absolute;
  right: 200px;
  top: 30px;
}

.authContainer {
  position: absolute;
  right: 50px;
  display: inline-block;
  top: 30px;
}

.underline {
  display: inline-block;
}

.underline::after {
  content: '';
  width: 0px;
  height: 2px;
  display: block;
  background: black;
  transition: 100ms;
}

.underline:hover::after {
  width: 100%;
}
